<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    首先应该创建Dept的bean-->
    <bean id="dept" class="vip.epss.domain.Dept">
<!--        注入的方式有两种,构造器\setter-->
        <property name="did" value="101"></property>
        <property name="dname">
            <value>市场部</value>
        </property>
    </bean>

<!--    创建Emp的bean-->
    <bean id="emp" class="vip.epss.domain.Emp">
        <property name="eid" value="1007"></property>
        <property name="ename" value="zhangsan"></property>
        <property name="dept" ref="dept"></property>
        <property name="dept.did" value="110"></property>
<!--        第一种方式,转义符-->
<!--        <property name="edes" value="&lt;strong&gt;我很厉害&lt;//strong&gt;"></property>-->
<!--        第二种方式:CDATA-->
        <property name="edes">
            <value>
                <![CDATA[<strong>我很厉害</strong>]]>
            </value>
        </property>
<!--        <property name="eobj" value="null"></property>-->
        <property name="eobj">
            <null></null>
        </property>
        <property name="ephone">
            <list>
                <value>13100000000</value>
                <value>13999999999</value>
            </list>
        </property>
        <property name="eluck">
            <set>
                <value>6</value>
                <value>6</value>
                <value>8</value>
                <value>99</value>
            </set>
        </property>
        <property name="erelation">
            <map>
                <entry>
                    <key><value>father</value></key>
                    <value>zhangdasan</value>
                </entry>
                <entry>
                    <key><value>mother</value></key>
                    <value>lisi</value>
                </entry>
            </map>
        </property>
        <property name="ehobby">
            <props>
                <prop key="王者荣耀">30</prop>
                <prop key="LOL">432</prop>
            </props>
        </property>
    </bean>
</beans>