<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--一般将settings需要设置的内容放在mybatis的配置文件中-->
<configuration>
    <settings>
<!--        开启懒加载模式-->
        <setting name="lazyLoadingEnabled" value="true"/>
<!--        关闭实时加载-->
    <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    
    <typeAliases>
        <package name="vip.epss.domain"/>
    </typeAliases>
</configuration>