<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--    多环境切换-->
    <environments default="development">
        <environment id="development">
            <!--            事务管理方式-->
            <transactionManager type="JDBC"/>
            <!--            数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/java6"/>
                <property name="username" value="root"/>
                <property name="password" value="mysql"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>


        <!--        如果在resources目录下,使用下行-->
        <!--        <mapper resource="UserMapper.xml"></mapper>-->
        <!--        如果使用如下方式,需要在pom.xml中发布资源-->
        <!--        <package name="vip.epss.dao"/>-->
        <!--        <mapper class="vip.epss.dao.UserMapper"></mapper>-->
<!--        <mapper resource="vip/epss/dao/UserMapper.xml"></mapper>-->
        <package name="vip.epss.dao"/>
    </mappers>
</configuration>